<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Tablas de Multiplicar</div>
      <div class="card-body">
        <input class="form-control" style="text-align: center;" placeholder="Introduce un número" type="number" [(ngModel)]="num_entrada"><br>
          <a class="btn btn-success btn-block" routerLink="/multiplicar/{{num_entrada}}" [class.disabled]="!num_entrada">
            RouterLink</a>
          <button class="btn btn-success btn-block" (click)="navegarHacia(num_entrada)" [disabled]="!num_entrada">
            Router</button>
      </div>
    </div>
  </div>
</div>

