<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Presentación</div>
      <div class="card-body">
        <div class="form-group">
          <label for="">Nombre</label>
          <input class="form-control" type="text" [(ngModel)]=nombre>
          <label for="">Apellidos</label>
          <input class="form-control" type="text" [(ngModel)]=apellidos>
        </div>
        <button class="btn btn-success btn-block" (click)="llevame()">Preséntate</button>
      </div>
    </div>

  </div>
</div>

